// 买票消息提示
.subway-message {
  height: 100px;
  background: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.14);
  border-radius: 20px;
  color: #333333;
  border: 2px solid #7797ff;
  padding-right: 60px;
  .el-message__content {
    margin-left: 10px;
    font-size: 30px;
    line-height: 40px;
  }
  .el-icon {
    width: 2em;
    height: 2em;
  }
  .el-icon svg {
    width: 2em;
    height: 2em;
  }
}
// 买票 网络错误的提示框样式
.subway-buy-ticket-network-message {
  //height: 100px;
  width: 320px !important;
  background: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.14);
  border-radius: 20px;
  color: #7584a4;
  border: 2px solid #bec5d4;
  .el-message__content {
    margin-left: 20px;
    font-size: 30px;
    line-height: 40px;
  }
  .el-icon {
    width: auto;
    height: auto;
    svg{
      width: 20px;
      height: 20px;
    }
  }
}

.icon-tipfix {
  //position: position;
  //background-image: url("~@/assets/images/icon_tipfix@1x.png");
  background-image: url('../assets/triangle@2x.png');
  background-repeat: no-repeat;
  background-position: 5% 5%;
  background-size: 30px 10px;
  overflow: hidden;
}
.el-message-box{
  transform: scale(1.6);
}
