// 字体颜色
$--subway-color-white: #fff !default;
$--subway-color-white1: #fffffe !default;
$--subway-color-black1: #1d1a1a !default;
$--subway-color-black2: rgba(29, 26, 26, 0.6) !default;
$--subway-color-red1: #d92d2d !default;
$--subway-color-gray: #333 !default;
$--subway-color-blue1: #4587EF !default;
$--subway-color-orange1: #E8730B !default;

// 背景色
$--subway-color-bg-grey1: #f4f5f9 !default;
$--subway-color-bg-grey2: #E6E6E6 !default;

// 边框色
$--subway-color-border1: #d6d9df !default;

// 地铁线路颜色
$--subway-color-line-1: #78be20;
$--subway-color-line-2: #ef3340;
$--subway-color-line-3: #ff8200;
$--subway-color-line-4: #0072ce;
$--subway-color-line-5: #e93cac;
$--subway-color-line-6: #41b6e6;
$--subway-color-line-7: #fff;
$--subway-color-line-8: #fff;
$--subway-color-line-9: #fff;
$--subway-color-line-10: #fff;
$--subway-color-line-11: #f1c6a7;
