@use 'sass:list';
@import 'src/styles/variable';

.map-box {
  position: relative;
  width: 1080px;
  height: 758px;
  // padding: 40px 30px 0;
  padding: 0;
  //overflow: hidden;
  #map {
    // 解决地图选中标记超出实际应显示范围的问题
    // height: 100%;
    //overflow: hidden;
  }
  .map-wrapper {
    overflow: hidden;
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.12);
    border-radius: 30px;
  }
}
.line-container {
  position: relative;
  background: $--subway-color-white1;
  border-radius: 6px;
  padding: 16px 20px;
}
.line-point-box {
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
}

.line-point {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  line-height: 24px;
  vertical-align: super;
  font-size: 16px;
  color: #fff;
  text-align: center;

  &.line-point-start {
    background: #81c661;
  }
  &.line-point-end {
    background: #f1584c;
  }
}
.line-text {
  font-size: 18px;
  color: rgba(51, 51, 51, 0.6);
  padding-left: 8px;
  vertical-align: middle;
}
.map-content-dialog {
  position: absolute;
  top: 40px;
}

/* 线路图样式
---------------------------------------------------------------- */
$lineColorList: $--subway-color-line-1 $--subway-color-line-2
  $--subway-color-line-3 $--subway-color-line-4 $--subway-color-line-5 $--subway-color-line-11;

@function getLineColor($index) {
  @return list.nth($lineColorList, $index);
}
@for $i from 1 through list.length($lineColorList) {
  .line-name-color-#{$i} {
    color: getLineColor($i);
  }
  .line-name-bg-#{$i} {
    background-color: getLineColor($i);
  }
  .line-site-bordercolor-#{$i} {
    border-color: getLineColor($i);
  }
}
/* 首末站点 */
@mixin line-icon-circle {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  border-radius: 50%;
  background: #ffffff;
  border-width: 3px;
  border-style: solid;
}
.line-icon-circle-start {
  @include line-icon-circle;
  border-color: #81c661;
}
.line-icon-circle-end {
  @include line-icon-circle;
  border-color: #f1584c;
}

/* 站点名标注 */
.line-mark-name {
  display: inline-block;
  min-width: 54px;
  padding: 4px 6px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  color: $--subway-color-white;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
}

/* 首末时间标注 */
@mixin line-mark-sm {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  line-height: 16px;
  vertical-align: middle;
  font-size: 14px;
  color: #fff;
  text-align: center;
}
.line-mark-first {
  @include line-mark-sm;
  background: #5591ef;
}
.line-mark-end {
  @include line-mark-sm;
  background: #e05e5e;
}

/* 站点背景色自定义 */
.line-icon-station {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-image: url('/src/assets/icons/line-icon-station.png');
  // background-color: #adadad;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 12px 12px;
  vertical-align: middle;
}

.line-icon-transfer {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #9b9b9b;
  border-radius: 50%;
  background: url('/src/assets/icons/line-icon-transfer.png')
    $--subway-color-white center center no-repeat;
  background-size: 10px 10px;
}
.line-icon-walk {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: url('/src/assets/icons/line-icon-walk.png') #adadad center center
    no-repeat;
  background-size: 12px 12px;
}
/* 站点边框颜色自定义 */
.line-icon-site {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: $--subway-color-white;
  border: 1px solid #ccc;
}

.line-name-wrapper {
  min-width: 164px;
  justify-content: space-between;
}

.line-transfer-container {
  position: relative;
  min-height: 40px;
  padding-left: 20px;
  line-height: 40px;
}
.color-direction {
  color: #e23d06;
}
.display-flex-col-around {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.pl4 {
  padding-left: 4px;
}
.transfer-site {
  font-size: 16px;
  color: rgba(51, 51, 51, 0.8);
  height: 30px;
  line-height: 30px;
}

.line-tail {
  position: absolute;
  width: 4px;
  top: 46px;
  left: 26px;
  height: calc(100% - 46px);
}
.line-tail-head {
  position: absolute;
  width: 4px;
  top: 0;
  left: 26px;
  height: 40px;
}
.line-tail-transfer {
  position: absolute;
  width: 4px;
  top: 0;
  left: 26px;
  height: 100%;
}

.line-walk-wrapper {
  position: relative;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;

  .line-walk-content {
    font-size: 16px;
    color: rgba(51, 51, 51, 0.6);
  }
  .color-distance {
    color: #416efd;
  }
}

.line-tail-walk {
  position: absolute;
  width: 4px;
  top: 36px;
  left: 26px;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    #ccc 0%,
    #ccc 50%,
    transparent 50%
  );
  background-repeat: repeat-y;
  background-size: 4px 8px;
}
.line-tail-walk-head {
  position: absolute;
  width: 4px;
  top: 0;
  left: 26px;
  height: 36px;
  background-image: linear-gradient(
    to bottom,
    #ccc 0%,
    #ccc 50%,
    transparent 50%
  );
  background-repeat: repeat-y;
  background-size: 4px 8px;
}
/* 图标样式
---------------------------------------------------------------- */
.station-button-wrapper {
  //height: 81px;
  height: 58px;
  margin-top: -14px;
}
// 配置：按钮框整体
.station-button-box-goupiao {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 230px;
  font-size: 18px;
  background-color: #5687fc;
  border-radius: 10px;
  z-index: 600;
  // 配置：结束站点名称
  .end-station-name {
    font-size: 18px;
    color: #ffffff;
    margin-top: 5px;
  }
  // 结束按钮
  .goupiao-end-btn {
    height: 35px;
    width: 65px;
    background: #fffffe;
    border-radius: 6px;
    border: 1px solid #fffffe;
    font-size: 16px;
    color: #5687fc;
  }
  // 下方三角形
  .station-box-arrow {
    position: absolute;
    left: 110px;
    bottom: -5px;
    width: 12px;
    height: 6px;
    z-index: 601;
    background: url('/src/assets/icons/icon-sanjiao@2x.png') no-repeat center;
    background-size: cover;
  }
}
