

@media screen and (max-width: 1000px){
  @function px2rem($px) {
    @return $px /75 * 1rem;
  }
  .memo{
    .memo-form{
      margin-top: px2rem(44);
    }
    .el-upload-list{
      display: none;
    }
    .upload{
      padding: px2rem(37) px2rem(35) px2rem(22) 0;
      border: px2rem(1) dashed #EC6941;
      margin-top: px2rem(20);
      margin-bottom: px2rem(46);
      .upload-text{
        margin-left: px2rem(60);
        font-size: px2rem(14);
        font-weight: 400;
        color: #706E6E;
        line-height: px2rem(24);
        .tit{
          width: px2rem(200);
        }
      }
    }
    .book-box{
      padding-right: px2rem(140);
      .book{
        color: #1677FF;
      }
    }

    .hit{
      font-size: px2rem(16);
      font-family: Microsoft YaHei;
      font-weight: 400;
      color: #FC1207;
      line-height: px2rem(16);
      margin-top: px2rem(23);
      margin-bottom: px2rem(35);
      text-align: center;
    }

    .form-btn{
      text-align: center;
      height: px2rem(44);
      margin-bottom: px2rem(44);
      font-size: px2rem(18);
      font-weight: bold;
      line-height: px2rem(44);
      >div{
        width: px2rem(218);
        border-radius: px2rem(10);
      }
      .submit{
        background: #1677FF;
        color: #FFFFFF;
        margin-right: px2rem(144);
      }
      .reseat{
        opacity: 0.5;
        color: #3F3E3E;
        background: #B5B5B6;

      }
    }
    .memo-table{
      margin-bottom: px2rem(62);
    }
  }



}
@media screen and (min-width: 1000px){
  @function px2rem($px) {
    @return $px /188 * 1rem;
  }
  .memo{
    .memo-form{
      margin-top: px2rem(44);
    }
    .el-upload-list{
      display: none;
    }
    .upload{
      padding: px2rem(37) px2rem(35) px2rem(22) 0;
      border: px2rem(1) dashed #EC6941;
      margin-top: px2rem(20);
      margin-bottom: px2rem(46);
      .upload-text{
        margin-left: px2rem(60);
        font-size: px2rem(14);
        font-weight: 400;
        color: #706E6E;
        line-height: px2rem(24);
        .tit{
          width: px2rem(200);
        }
      }
    }
    .book-box{
      padding-right: px2rem(140);
      .book{
        color: #1677FF;
      }
    }

    .hit{
      font-size: px2rem(16);
      font-family: Microsoft YaHei;
      font-weight: 400;
      color: #FC1207;
      line-height: px2rem(16);
      margin-top: px2rem(23);
      margin-bottom: px2rem(35);
      text-align: center;
    }

    .form-btn{
      text-align: center;
      height: px2rem(44);
      margin-bottom: px2rem(44);
      font-size: px2rem(18);
      font-weight: bold;
      line-height: px2rem(44);
      >div{
        width: px2rem(218);
        border-radius: px2rem(10);
      }
      .submit{
        background: #1677FF;
        color: #FFFFFF;
        margin-right: px2rem(144);
      }
      .reseat{
        opacity: 0.5;
        color: #3F3E3E;
        background: #B5B5B6;

      }
    }
    .memo-table{
      margin-bottom: px2rem(62);
    }
  }
}

